$break-mobile: 599px
$break-tablet: 600px
$break-laptop: 900px
$break-desktop: 1200px
$break-lg-desktop: 1800px

@mixin mobile
    @media (max-width: $break-mobile)
        @content
@mixin tablet
    @media (min-width: $break-tablet)
        @content
@mixin laptop
    @media (min-width: $break-laptop)
        @content
@mixin desktop
    @media (min-width: $break-desktop)
        @content
@mixin large-desktop
    @media (min-width: $break-lg-desktop)
        @content

$grey-200: #EEEEEE
$grey-600: #757575

$indigo-50:  #E8EAF6
$indigo-100: #C5CAE9
$indigo-200: #9FA8DA
$indigo-300: #7986CB
$indigo-400: #5C6BC0
$indigo-500: #3F51B5
$indigo-600: #3949AB
$indigo-700: #303F9F
$indigo-800: #283593
$indigo-900: #1A237E


// Globals
//
body, section, h2
    margin: 0
    padding: 0

h2
    margin-bottom: 16px
    text-align: center

header, footer
    background: $indigo-600
    color: white

section
    min-height: 800px


// Modal
//
body.modal-active
    overflow: hidden

.modal-wrapper
    right: 24px
    bottom: 24px
    left: 24px
    @include tablet
        top: 48px !important
        right: 48px
        bottom: 48px
        left: 48px
    @include laptop
        top: 72px !important
        right: 72px
        bottom: 72px
        left: 72px


// Shared
//
.content-inner
    margin: 16px 0
    padding: 16px
    flex-basis: calc(#{$break-laptop} - 32px)
    display: flex
    flex-direction: column


// Header
//
header
    .nav
        display: flex

        .brand
            @include tablet
                flex-basis: 33%
            @include laptop
                flex-basis: 50%
            img
                width: 72px
                @include tablet
                    width: 100px

        nav
            flex: 1
            display: flex
            justify-content: space-around

            div
                align-self: center
                border: 1px solid white
                padding: 8px
                text-align: center

                font-size: 14px
                min-width: 66px
                @include tablet
                    font-size: 16px
                    min-width: 96px

                &:hover
                    cursor: pointer
                    border-color: $indigo-900
                    background: white
                    color: $indigo-900

    h1
        margin: 0
        padding: 16px 8px
        text-align: center
        font-size: 72px
        @include mobile
            font-size: 64px


// About section
//
section.about
    .content-inner
        flex-basis: calc(#{$break-tablet} - 32px)
    background: $indigo-50
    color: $indigo-800

    .skills-wrap
        display: flex
        flex-flow: row wrap

        .skill-item-wrap
            flex-basis: 50%
            @include tablet
                flex-basis: 33%
            @include laptop
                flex-basis: 25%

            .skill-item
                margin: 16px
                text-align: center
                padding: 8px
                border-radius: 8px
                border: 3px solid $indigo-900
                background: $indigo-300
                color: white

img.headshot
    height: 200px
    width: 200px
    border-radius: 50%

div.center
    display: flex
    justify-content: center


// Work section
//
$transition: 0.5s
$perspective: 700px
$timing: cubic-bezier(.1,.2,.9,.8)
//
$work-item-padding: 8px
//
section.work
    background: $indigo-100
    color: $indigo-900

    .work-wrap
        display: flex
        flex-flow: row wrap

        .work-item
            box-sizing: border-box
            padding: $work-item-padding
            height: calc(200px + #{$work-item-padding} * 2)
            display: block
            position: relative
            flex: 1 100%
            @include tablet
                flex-basis: 50%
            @include laptop
                flex-basis: 33.33%

            .work-item-front, .work-item-back
                display: block
                position: absolute
                height: calc(100% - #{$work-item-padding} * 2)
                width: calc(100% - #{$work-item-padding} * 2)
                backface-visibility: hidden
                transition: transform $transition $timing 0s

            .work-item-front
                box-sizing: border-box
                border: 8px solid $indigo-900
                background-repeat: no-repeat
                background-size: cover
                transform: perspective($perspective) rotateY(0deg)

            .work-item-back
                color: white
                background: $indigo-900
                transform: perspective($perspective) rotateY(180deg)
                display: flex
                justify-content: center
                span
                    margin: 0 16px
                    align-self: center
                    text-align: center
                    font-size: 32px
                    @include tablet
                        font-size: 36px

            &:hover
                cursor: pointer
                .work-item-front
                    transform: perspective($perspective) rotateY(-180deg)

                .work-item-back
                    transform: perspective($perspective) rotateY(0deg)


// Contact section
//
section.contact
    background: $indigo-50
    color: $indigo-800

    .contact-wrap
        display: flex
        flex-flow: row wrap

        .contact-item-wrap
            padding: 16px 0
            flex-basis: 50%
            @include tablet
                flex-basis: 33.33%

            display: flex
            justify-content: center

            .contact-item-border
                border-radius: 50%
                display: flex
                justify-content: center
                cursor: pointer

                .contact-item-inner
                    align-self: center


// Misc
//
footer
    padding: 8px 0
    display: flex
    justify-content: center

.app
    background: $grey-200
    display: flex
    min-height: 100vh
    flex-direction: column

.content
    flex: 1

section
    display: flex
    justify-content: center

.blurb
    font-size: 24px
